body{
    background-color: #d8e5f5;
    color:#1b5182;
}
h1{
    font-size: 300%;
    font-family: Cabria;
    text-align: center;
}
h2{
    font-size: 200%;
    font-family: Geneva;
    color: #3277ac;
}
h3{
    font-size: 150%;
    font-family: Geneva;
    color: #3277ac;
}
p{
    line-height: 25px;
}
img{
    border:solid 3px #22898b;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}
li{
    display:inline-block;
    margin-left: 50px;
    color: #9a5fb4;
}
nav{
    border: 2px solid #da85a4;
    border-style: dotted;
}
nav a{
    background-color: yellow;
    padding: 5px;
}
a{
    text-decoration: blue;
}
#skip{
    text-transform: uppercase;
}
.thumbnail{
    border: 5px solid blue;
    padding: 20px;
    margin: auto;
    width: 250px;
    display: block;
    border-radius: 25px
}